/* Boiler plate code below */
html, body {
	margin:0;
  padding:0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  
}
/* -------------------------- */

img {
	width: 100%;
}



.container {
	display: grid;
	grid-template-areas: "header header"
	"main main"
	"footer footer";
}

.sectionblock {
	display: flex;
	flex-wrap: wrap;
}



header {
	display: flex;
	background-color: gray;
	grid-area: header;
	height: 15vh;
}

main {
	grid-area: main;
	background-color: white;
	height: 300vh;
}

footer {
	grid-area: footer;
	background-color: navy;
}
