/* Basic styling set */
html, body {
	margin:0;
  padding:0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}
/*--------------------*/


header {
  display: flex;
  background-color: grey;
  justify-content: center;
  color: whitesmoke;
} 

li a {
  text-decoration: none;
}
