/* Boiler plate code below */
html, body, ul {
	margin:0;
  padding:0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif; 
  color: orangered;
}

/* Makes images behave normally as a box */
img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

/* Make headers grow with viewport width */
h1, h2, h3 {
	font-size: clamp(1.3rem, 2.4vw , 1.55rem);
}

/* -------------------------- */

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 30rem;
	padding: max(1em, 2%)
}

.cards {
	display: grid;
	list-style: none;
	grid-template-columns: repeat(12, [col-start] 1fr);
	background-color: lightblue;
}

.card-item {
	grid-column: span 12;
	background-color: darkblue;

}

header {
	background-color: steelblue;
}

main {
	background-color: lightgray;
}

footer {
	background-color: forestgreen;
}

@media (min-width: 50rem) {
	.card-item {
		grid-column: span 4;
	}
	.container {
		max-width: 70rem;
	}
}

